.boton{
    -fx-background-color: #1479b0;
    -fx-border-color: #111111;
}

.top{
    -fx-background-color: #054c75;
    -fx-border-color: #111111;
}

.rest{
    -fx-background-color: #ffffff;
}

.boxShape{
    -fx-background-radius: 0 0 0 0;
}

.btnColor{
    -fx-background-color: #1479b0;
    -fx-border-color: #111111;
}

.actividad-fondo{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.title{
    -fx-background-color: rgba(132, 236, 134, 0.59);
    -fx-background-radius: 30;
}



